@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Embedded Stock</h1>
    <p class="lead">Administrationsmodul til Embedded Stock med ASP.Net MVC</p>
    <p><a href="http://10.29.0.30/EmbeddedStock" class="btn btn-primary btn-lg">Visit original site &raquo;</a></p>
</div>